header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: $barlow;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
        ul{
            display: none;
            // position: absolute;
            li{
                a{
                    color: white;
                    button{
                        font-family: $fraunces;
                        font-size: 1rem;
                        font-weight: 900;
                        padding: 1rem 1.5rem;
                        text-transform: uppercase;
                        border-radius: 3rem;
                        border: none;
                        color: $veryDarkDesaturatedBlue;
                        background-color: white;
                    }
                }
            }
        }
    }
}