.section1{
    background-image: url(/sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 15rem;
    background-attachment: fixed;
    h1{
        font-family: $fraunces;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: 2rem;
        padding-top: 7rem;
        letter-spacing: .3rem;
    }
    .arrowDown{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        transform: translateY(40%);
    }
}

.section2{
    .img_transform{
        background-color: hsl(7, 67%, 96%);
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        .transform{
            h3{
                font-family: $fraunces;
                text-align: center;
                width: 90%;
                margin: 2rem auto;
                font-size: 2rem;
                color: $veryDarkDesaturatedBlue;
            }
            p{
                font-family: $barlow;
                text-align: center;
                line-height: 1.7;
                width: 90%;
                margin: 0 auto;
            }
            .learnMore{
                text-align: center;
                margin-top: 2rem;
                a{
                    font-weight: 900;
                    text-transform: uppercase;
                    color: $veryDarkDesaturatedBlue;
                    position: relative;
                    img{
                        width: 40%;
                    }
                }
            }
        }
    }
}