@media (min-width: 768px) {
  header {
    nav {
      .menuLinks {
        display: none !important;
      }
      .menuLinks2 {
        display: flex !important;
        align-items: center;
        column-gap: 2rem;
        li {
          a {
            color: white;
            font-size: 1.2rem;
            button {
              font-family: $fraunces;
              font-size: 1rem;
              font-weight: 900;
              padding: 1rem 1.5rem;
              text-transform: uppercase;
              border-radius: 3rem;
              border: none;
              color: $veryDarkDesaturatedBlue;
              background-color: white;
            }
          }
        }
      }
      .bars {
        display: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .bgImg {
    .section1 {
      background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-bottom: 15rem;
      // background-attachment: fixed;
      h1 {
        font-family: $fraunces;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: 4rem !important;
        padding-top: 12rem !important;
        letter-spacing: 0.3rem;
      }
    }
  }

  .section2{
    .img_transform{
      flex-direction: row !important;
      align-items: center;
      padding-bottom: 0 !important;
      // flex-basis: 100%;
      .egg{
        order: 2 !important;
    }
      img{
        width: 50% !important;
      }
      .transform{
        h3, p{
          text-align: start !important;
          width: 55% !important;
        }
        .learnMore{
          margin-right: 10%;
        }
      }
    }
  }

  .section3_section4{
    display: flex;
    .section3{
      background-attachment: unset !important;
      padding-bottom: 0 !important;
      img{
        display: block;
        width: 100%;
      }
      .h4_p{
        transform: translateY(-200%);
      }
    }
    .section4{
      background-attachment: unset !important;
      padding-bottom: 0 !important;
      img{
        display: block;
        width: 100%;
      }
      .h4_p{
        transform: translateY(-200%);
      }
    }
  }

  .testimonialContainer{
    flex-direction: row !important;
    .avatarContainer{
     .avatarImg{
      .thomasImg{
        max-width: 22% !important;
      }
      img{
        height: 5rem;
        max-width: 25% !important;
      }
     } 
    }
  }

  footer{
    .sweetners{

      .imgFlex1{
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
      }
    }
    .footerLogoImg{
      img{
        display: block;
      }
    }
    ul{
      width: 50%;
      margin: auto;
    }
  }
}

@media (min-width: 1384px) {
  .photography{
    transform: translateY(-223%) !important;
  }
}
@media (min-width: 2000px) {
    .avatarImg{
      img {
        height: 10rem !important;
      }
    }
}
