@media (min-width: 768px) {
    header{
        nav{
            ul{
                display: flex !important;
                align-items: center;
                column-gap: 2rem;
            }
            .bars{
                display: none;
            }
        }
    }
}